/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    background: black;
    color: white;
    line-height: 1.7;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h4 {
    color: #00ed82;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Utilities */
.btn {
    display: inline-block;
    background: white;
    color: #333;
    min-width: 135px;
    padding: 20px 32px;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-cta:hover {
    opacity:0.8;
}

.legal-text {
    font-size: 10px;
    color: #ccc;
    margin-top: 20px;
}

/* Header */
.header {
    height: 530px;
    background: url(../images/header.jpg) no-repeat center center / cover;
    text-align: center;
}

.header nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}

.header nav .login-btn{
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    transition: opacity 0.4s ease-in,
                transform 0.2s linear;
}

.header nav .login-btn:hover {
    opacity: 0.75;
    transform: scale(1.02);
}

.header .content {
    margin-top: 30px;
}

.header .logo {
    width: 270px;
    margin: 20px 0;
}

.header .header-text-1 {
    font-size: 22px;
    font-weight: bold;
}

.header .header-text-2 {
    font-size: 18px;
    margin: 25px 0px;
}

/* Sub Header */
.sub-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background: linear-gradient(to right, #CACF85,#8CBA80,#658E9C,#4D5382 );
}

.sub-content img {
    width: 100%;
    margin: auto;
}

.sub-content .flex-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.sub-content .header-container .header-text-1{
    font-size: 30px;
    font-weight: 300;
}

.sub-content a {
    text-decoration: underline;
    color: hsla(0, 5%, 96%, 0.5);
}

.sub-content .button-container {
    text-align: center;
}

.sub-content .button-container .btn {
    display: block;
    margin: 5px;
    background: none;
    color: white;
    border: 2px solid white;
    transition: border-color 0.3s ease-out;
}

.sub-content .btn:hover {
    border-color: #ccc;
}

/* Media Queries */
@media(max-width: 768px){

    .header .logo {
        width: 200px
    }

    .header .content {
        padding: 0 20px;
        
    }

    .header .header-text-1{
        margin-bottom: 20px;
    }

    .header .header-text-2 {
        display: none;
    }

    .sub-content {
        grid-template-columns: 1fr;
        gap: 15px;
        background: linear-gradient(to bottom, #CACF85,#8CBA80,#658E9C,#4D5382 );
    }

    .sub-content img {
        width: 90%;
    }

    .sub-content .flex-container {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}