/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

/* test test */
/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background: black;
    color: white;
    line-height: 1.7;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h4 {
    color: #00ed82;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Utilities */
.btn {
    display: inline-block;
    background: white;
    color: #333;
    min-width: 135px;
    padding: 20px 32px;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-dark {
    background: #000;
    color: white;
}

.btn-cta:hover {
    opacity: 0.8;
}

.legal-text {
    font-size: 10px;
    color: #ccc;
    margin-top: 20px;
}

/* Header */
.header {
    height: 530px;
    background: url(../images/header.jpg) no-repeat center center / cover;
    text-align: center;
}

.header nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    z-index: 2;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.6) 15.54%,
            rgba(0, 0, 0, 0) 60.23%,
            rgba(0, 0, 0, 8e-5) 100%);
    z-index: 1;
}

.header nav .login-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    transition: opacity 0.4s ease-in,
        transform 0.2s linear;
}

.header nav .login-btn:hover {
    opacity: 0.75;
    transform: scale(1.02);
}

.header .content {
    margin-top: 30px;
}

.header .logo {
    width: 270px;
    margin: 20px 0;
}

.header-text-1 {
    font-size: 22px;
    font-weight: bold;
}

.header-text-2 {
    font-size: 18px;
    margin: 25px 0px;
}

/* Sub Header */
.sub-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background: linear-gradient(to right, #CACF85, #8CBA80, #658E9C, #4D5382);
}

.sub-content img {
    width: 100%;
    margin: auto;
}

.sub-content .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-content .header-container .header-text-1 {
    font-size: 30px;
    font-weight: 300;
}

.sub-content a {
    text-decoration: underline;
    color: hsla(0, 5%, 96%, 0.5);
}

.sub-content .button-container {
    text-align: center;
}

.sub-content .button-container .btn {
    display: block;
    margin: 5px;
    background: none;
    color: white;
    border: 2px solid white;
    transition: border-color 0.3s ease-out;
}

.sub-content .btn:hover {
    border-color: #ccc;
}

/* Features */
.feature {
    text-align: center;
}

.feature .description {
    line-height: normal;
    margin: 60px;
}

.feature .description h1 {
    font-size: 60px;
    margin: 10px 0 30px 0;
}

.feature .description p {
    font-weight: 300;
    width: 50%;
    margin: auto;
    font-size: 18px;
}

.feature .feature-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    padding: 0 20px 0 20px;
    gap: 10px;
    line-height: 1.3;
    margin-bottom: 20px;
    justify-items: center;
}

.feature .feature-grid .grid {
    transition: opacity 0.4s linear,
        transform 0.3s ease-in;
    height: 500px;
    width: 300px;
}

.feature .feature-grid .grid:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.feature .feature-grid .grid h4 {
    color: white;
    font-weight: normal;
    font-size: 12px;
    margin-top: 40px;
}

.feature .feature-grid .grid h4,
h1 {
    margin-left: 20px;
}

.feature .feature-grid #feature-1 {
    background: url(../images/cover-1.jpg) no-repeat center center /contain;
}

.feature .feature-grid #feature-2 {
    background: url(../images/cover-2.jpg) no-repeat center center /contain;
}

.feature .feature-grid #feature-3 {
    background: url(../images/cover-3.jpg) no-repeat center center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.feature .feature-grid #feature-4 {
    background: url(../images/cover-4.jpg) no-repeat center center / contain;
}

/* live */
.live {
    background: #151516;
    padding: 40px;
}

.live-border {
    border: 4px solid #1ce783;
    border-radius: 16px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.live-border .header-text-1 {
    font-size: 60px;
}

.live-border a {
    text-decoration: underline;
    margin-top: 20px;
    text-transform: uppercase;
    opacity: 0.8;
}

/* Sports */
.sports {
    background: url(../images/live-sports.jpg) no-repeat center center / cover;
    height: 800px;
    position: relative;
}
.sports-container {
    position: absolute;
    top: 160px;
    left: 100px;
    max-width: 550px;
}

.sports-container h1 {
    font-size: 40px;
    margin-left: 0;
}

.channel-logos {
    width: 300px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel-logos > div {
    background: url(../images/network-logo-bg.png) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}

.channel-logos img {
    width: 40px;
}

/* Footer */
.footer {
    background: #ebedf2;
    color: #333;
}

.footer a {
    color: #333;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
}

.footer-lists {
    display: flex;
    justify-content: space-between;
}

.footer-lists .list-head {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.divider {
    width: 100%;
    height: 3px;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.social-icons img {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-box {
    margin: 10% auto;
    width: 400px;
    background: white;
    color: #333;
    position: relative;
    animation: modalopen 0.45s;
}

@keyframes modalopen{
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-body {
    padding: 50px;
}

.modal-body h3{
    font-weight: bold;
}

.modal-body .btn {
    width: 100%;
    margin-top: 30px;
}

.modal .close {
    cursor: pointer;
    height: 23px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal .modal-footer {
    background: #f7f7f9;
    color: #333;
    padding: 20px 0;
    border-top: #eee 1px solid;
    text-align: center;
}

.modal .modal-footer a {
    color: steelblue;
}

/* form */
.form-control {
    margin: 20px;
}

.form-control label {
    display: block;
    text-transform: uppercase;
    margin: 0px;
}

.form-control input {
    width: 100%;
    border: 2px #ccc solid;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
}


@media(max-width: 1000px) {
    .feature .feature-grid {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

/* Media Queries */
@media(max-width: 768px) {

    .modal .modal-box {
        width: 90%;
        margin: auto, auto;
    }

    .modal .modal-box img {
       filter: invert();
    }
    .header .logo {
        width: 200px
    }

    .header .content {
        padding: 0 20px;

    }

    .header .header-text-1 {
        margin-bottom: 20px;
    }

    .header .header-text-2 {
        display: none;
    }

    .sub-content {
        grid-template-columns: 1fr;
        gap: 15px;
        background: linear-gradient(to bottom, #CACF85, #8CBA80, #658E9C, #4D5382);
    }

    .sub-content img {
        width: 90%;
    }

    .sub-content .flex-container {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .feature .description h1 {
        line-height: 1.0;
        font-size: 40px;
    }

    .feature .description p {
        width: 100%;
        line-height: 1.2;
    }

    .feature .feature-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .live-border {
        padding: 30px 10px;
    }

    .sports {
        background: url(../images/live-sports-small.jpg) no-repeat center center /cover;
    }
    
    .sports-container {
        top: 30px;
        left: 30px;
        margin-top: 60px;
    }

    .footer-lists {
        flex-direction: column;
    }
}